.vs
*/*/Debug/*
*/*/Release/*
*/Debug/*
*/Release/*
Debug/*
Release/*
Debug/*.exe
Release/*.exe
Debug/*.ilk
Release/*.ilk
Debug/*.pdb
Release/*.pbd
CGALib/ide/CGALib/Debug/*
RemoteSystemsTempFiles/
.metadata/
/16-FontRendering/src/main - copia.cpp
.metadata/
.editorconfig
16-FontRendering/16-FontRendering.vcxproj
16-FontRendering/16-FontRendering.vcxproj.filters
16-FontRendering/16-FontRendering.vcxproj.user
16-FontRendering/ProyectoFinal.aps
16-FontRendering/resource.h
CGALib/CGALib.vcxproj
CGALib/CGALib.vcxproj.filters
CGALib/CGALib.vcxproj.user
ComputacionGraficaAvanzada.sln
